html {
    scroll-behavior: smooth;
}
body, header, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #333;
    background-color: #fff;
}
.up a {
    text-decoration: none;
}
.up a:visited {
    color: #333;
}

/* NAVBAR START */
.head {
    padding: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(151deg, #12d3cf 0%, rgba(253,187,45,1) 100%);
    font-size: 25px;
    display: flex;
    font-weight: bold;
    width: 100%;
}
#links {
    text-align: right;
    font-size: 20px;
    margin: auto;
    margin-right: 15px;
}
#links a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    flex-direction: row;
}
#links2 {
    font-size: 15pt;
    padding: 0;
    margin-right: 35px;
}
#links2 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#links2 ul li {
    padding-right: 18px;
    padding-top: 0px;
}
#links2 ul li a {
    text-decoration: none;
    color: #333;
    padding: 6.5px;
    margin: 0;
    border: 1px solid black;
    flex-direction: row;
}
#links2 ul li a:hover {
    color:#12d3cf;
    border: 1px solid #12d3cf;
}
#links a:hover {
    color:#12d3cf;
    border: 1px solid #12d3cf;
}
/* NAVBAR END */

/* SPLASH PAGE */
.cont1 {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fcf9ec;
    display: flex;
    flex-direction: column;
    background: url("lucid.png") no-repeat center;
    background-size: 1080px;
    color: #b0f4e6;
}
.title {
    margin-top: 20%;
    text-align: center;
    height: 600px;
}
/* ANIMATION */
@keyframes movetitle {
    0% {left: -1000px; color: #FFF;}
    100% {left: 0px;}
}
.title h1 {
    margin: 0;
    font-size: 48pt;
    margin-top: 7%;
    animation: movetitle 2s;
    position: relative;
}
.title h2 {
    font-size: 22pt;
    font-weight: lighter;
    color: #FFF;
    margin: 0;
    animation: movetitle 3s;
    position: relative;
}
.button {
    width: 150px;
    margin: auto;
}
.button p {
    padding: 10px;
}
.button a {
    background-color: #12d3cf;
    border: 1px solid #12d3cf;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    margin: 20px;
    font-weight: bold;
}
.button a:hover {
    background-color: #b0f4e6;
    border: 1px solid #b0f4e6;
}
/* END SPLASH */

/* START VIDEO/ABOUT */
#about {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
#about .box1{
    width: 1200px;
    padding: 5px;
    margin: auto;
}
.box1 h1 {
    text-align: center;
    padding: 15px;
    color: #333;
    width: 400px;
    margin: auto;
    text-decoration: underline;
}
.iframe-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* END VIDEO/ABOUT */

/* START METHODS */
#methodContainer {
    margin-left: 10%;
    margin-right: 10%;
}
.myDiv {
    display: none;
    border: 1px solid black;
    width: 90%;
    margin: auto;
    padding: 3px;
    margin-top: 5px;
    text-align: center;
}
.mButton {
    background: rgb(34,193,195);
    background: linear-gradient(151deg, #12d3cf 0%, rgba(253,187,45,1) 100%);
    border: 0;
    color: #333;
    font-weight: bold;
    width: 100%;
    height: 40px;
    font-size: 12pt;
    margin-top: 5px;
}
/* ************** */
/* MOBILE SETTING */
/* ************** */

/* TABLETS + BIGGER PHONES */
@media only screen and (max-width: 968px) {
    #links {
        display: none;
    }
    .head {
        text-align: center;
        flex-direction: column;
        height: 80px;
    }
    .cont1 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .title h2 {
        margin: 5px;
    }
}

/* SMALL PHONES (LESS THAN 445px width) */
@media only screen and (max-width: 445px) {
    #links {
        display: none;
    }
    .head {
        text-align: center;
        flex-direction: column;
        height: 80px;
    }
    .cont1 {
        width: 100%;
    }
}
/* HIDE MOBILE LINKS FOR DESKTOP SITE */
@media only screen and (min-width: 968px) {
    #links2 {
        display: none;
    }
}