html {
    scroll-behavior: smooth;
}
body, header, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #333;
    background-color: #FCF9EC;
}
.head {
    padding: 10px;
    background-color: #fcf9ec;
    font-size: 25px;
    border-bottom: 2px solid #12d3cf;
}
.head p {
    font-weight: bold;
}
.cont1 {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fcf9ec;
    display: flex;
    flex-direction: column;
    background: url("lucid.png") no-repeat center;
    background-size: 1080px;
    color: #b0f4e6;
}
.title {
    margin-top: 20%;
    text-align: center;
    height: 600px;
}
.title h1 {
    margin: 0;
    font-size: 48pt;
    margin-top: 7%;
}
.title h2 {
    font-size: 22pt;
    font-weight: lighter;
    color: #FFF;
    margin: 0;
}
.button {
    width: 150px;
    margin: auto;
}
.button p {
    padding: 10px;
}
.button a {
    background-color: #12d3cf;
    border: 1px solid #12d3cf;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    margin: 20px;
    font-weight: bold;
}
.button a:hover {
    background-color: #b0f4e6;
    border: 1px solid #b0f4e6;
}
#about {
    display: flex;
    padding: 5px;
}
#about .box1{
    margin: auto;
    width: 1000px;
}
.iframe-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

